.App {
  font-family: sans-serif;
  margin: 0 auto;
  max-width: 1200px;
}

.legalText {
  width: 1170px;
  margin: 20px 0px;
}

.mainContainer {
  border: 1px solid black;
}

.sec-1,
.sec-3 {
  border-bottom: 1px solid black;
}

.sec-1,
.sec-2 {
  border-right: 1px solid black;
}
