.App {
  font-family: sans-serif;
  margin: 0 auto;
  max-width: 1200px;
}

.legalText {
  width: 1170px;
  margin: 20px 0px;
}

.mainContainer {
  border: 1px solid black;
}

.sec-1,
.sec-3 {
  border-bottom: 1px solid black;
}

.sec-1,
.sec-2 {
  border-right: 1px solid black;
}

.featured-component {
  display: inline-block;
  position: relative;
  border: 2px solid #aaa;
  margin: 0 4% 40px;
  width: 92%;
  background-color: #fff;
}

.component-heading {
  background: #6a747c;
  padding: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
}

.detailList {
  list-style: none;
  line-height: 1.5em;
  padding-left: 10px;
  font-size: 16px;
}

.detailListItems {
  margin: 7px 15px;
  font-size: 14px;
}
